

/* Universal CSS*/

:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    --white: hsl(0, 0%, 100%);
    --main-paragraph-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --stats-headings-slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

.bold {
    font-weight: 700;
}

.highlight {
    color: var(--soft-violet);
}

/* Footer Area */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
    }

   
   
   
    /* Note: I think the header img has a filter property declared on it.
    Or perhaps a semi transparent colored layer over the img.

    In mobile, the header img is at the top, so it would be order: 1;
    In desktop, the header img is to the right, so it would be order: 2;
    search order property on mdn for reference.
    */